{% for event in events %}
<div class="card scroll-card shadow">
    <div class="card-body d-flex flex-column">
        <h4 class="card-title fw-bold text-primary mb-3">{{ event.name }}</h4>
        <p class="card-text mb-4">
            {{ event.description|truncatechars:250 }}
        </p>
        <div class="mt-auto">
            <p class="text-secondary"><i class="fa-regular fa-clock me-2"></i>
                {{ event.start_date_time|date:"F j, Y, g:i a" }} - {{ event.end_date_time|date:"g:i a" }}</p>
            </p>
            <p class="text-secondary"><i class="fa-solid fa-location-dot me-3"></i>{{ event.location }}</p>
            <a href="{{ event.url }}" target="_blank" class="mt-2 btn btn-primary w-100">RSVP Now</a>
        </div>
    </div>
</div>
{% endfor %}